Django
django-environ
psycopg2-binary
django-admin-interface
djangorestframework
crispy-tailwind
gunicorn
boto3
django-storages
django-weasyprint
markdown2
django-money
docutils
PyPDF2
python-docx-1
django-csp
django-feature-policy
requests
